h1 {
  color: turquoise;
  text-align: center;
  text-decoration: underline;

}

p {
  text-align: center;
  font-size: 20px;
}
td {
  border: 10px solid black;
  height: 200px;
  width: 200px;
  background-color: grey;

}

table {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}
